<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
    </style>
    <title>Handwritten Digit Recognition</title>
</head>
<body>
    <h1>Handwritten Digit Recognition</h1>
    <h2>Made with Flask, Sci-Kit Learn and JavaScript</h2>
    <div class="flex-container">
        <div class="canvas-container">
            <p class="canvas-descr">Write you digit here:</p>
            <div class="canvas-div">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="button-container">
            <button id="clearBtn">Clear</button>
            <button id="predictBtn">Predict</button>
        </div>
        <div class = "prediction-container">
            <p class="prediction-descr">Predicted number:</p>
            <div class="prediction-result-container">
                <p id="prediction-result"></p>
            </div>
        </div>
    </div>
    <div class="footer">
        Made by: Bálint Sipos
    </div>

</body>
</html>