<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
    </style>
    <title>Handwritten Digit Recognition</title>
</head>
<body>
    <div class="content">
        <h1>Handwritten Digit Recognition</h1>
        <h2>Made with Flask, Sci-Kit Learn and JavaScript, Containerized with Docker, hosted on AWS</h2>
        <div class="flex-container">
            <div class="canvas-container">
                <p class="canvas-descr">Write you digit here:</p>
                <div class="canvas-div">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <div class="button-container">
                <button id="clearBtn">Clear</button>
                <button id="predictBtn">Predict</button>
            </div>
            <div class = "prediction-container">
                <p class="prediction-descr">Predicted number:</p>
                <div class="prediction-result-container">
                    <p id="prediction-result"></p>
                </div>
            </div>
        </div>
        <p class="note">
            For the best results, try to be as centered as possible and avoid small digits! Please note that this project is just a demo and is not fitted for
            professional use or production due to its inconsistencies.
            The model was trained on the 
            <a href="https://www.kaggle.com/datasets/7a2a5621ee8c66c1aba046f9810a79aa27aafdbbe5d6a475b861d2ba8552d1fc" target="_blank" class="black-link">TMNIST</a> 
            dataset, which features single digits from thousands of different typefaces in the form of 28x28 pixel images. 
            Due to the nature of the dataset and the limitations of SKLearn, some incostistencies may occur when predicting
            certain numbers, especially 9. Improving on this functionality is a priority in the forseeable future. For more information 
            about the implementation of this project, visit its 
            <a href="https://github.com/balintsipos/handwritten-digit-recognition" class="black-link">GitHub page</a>
            .
        </p>
    </div>
    <div class="footer">
        <div class="techs">
            <img src="{{ url_for('static', filename='img/python_logo.png') }}" class="footer-img" alt="Python">
            <img src="{{ url_for('static', filename='img/flask_logo.png') }}" class="footer-img" id="flask-logo" alt="Flask">
            <img src="{{ url_for('static', filename='img/sklearn_logo.png') }}" class="footer-img" alt="sci-kit learn">
            <img src="{{ url_for('static', filename='img/js_logo.png') }}" class="footer-img" alt="JavaScript">
            <img src="{{ url_for('static', filename='img/docker_logo.png') }}" class="footer-img" alt="Docker">
            <img src="{{ url_for('static', filename='img/aws_logo.png') }}" class="footer-img" alt="Amazon Web Services">
        </div>
        <div class="credits">
            <p class="footer-text">Made by: Bálint Sipos</p>
            <p class="footer-text"><a href="https://github.com/balintsipos" target="_blank" class="white-link">GitHub</a></p>
        </div>
    </div>

</body>
</html>